@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik/Rubik-VariableFont_wght.ttf');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	margin: 0;
}

.d--flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

body {
	font-family: 'Inter', sans-serif;
	color: var(--text-bright);
	background-color: var(--bg-main);
	font-size: 20px;
}

.cont {
	height: 100%;
	width: 80vw;
	margin: 0 auto;
}

section {
	background: var(--bg-card);
	margin: 50px 0;
	border-radius: 10px;
	padding: 20px;
}

h1,
h2,
h3 {
	font-family: 'Rubik';
	margin: 10px 0 20px;
}

h1 {
	margin: 20px 30px;
}

.card {
	background-color: var(--bg-main);
	border-radius: 10px;
	padding: 20px;
}

.card--50{
	width: 49%;
	height: 220px;
}

.card--100{
	width: 100%;
}

/*header*/

header, footer {
	background-color: var(--bg-card);
	padding: 1% 1%;
}

.logo__img {
	width: 100px;
	height: auto;
}

.nav__el {
	text-decoration: none;
	color: var(--text-bright);
	margin: 0 10px;
}

.nav__el:hover {
	text-decoration: underline;
	color: var(--accent);
}

.btn {
	background-color: var(--primary);
	border: none;
	padding: 10px 15px;
	border-radius: 10px;
	font-size: 20px;
	color: var(--text-bright);
	cursor: pointer;
}

.btn:hover {
	background-color: var(--accent);
}

.btn--accent {
	background-color: var(--accent);
}

.btn--accent:hover {
	background-color: var(--primary);
}

/*slider*/

#slider {
	overflow: hidden;
	height: 80vh;
	padding: 0;
}

.slider {
	width: 300%;
	height: 85%;
	display: flex;
	flex-wrap: nowrap;
}

.slide {
	padding: 20px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
}

.slide--one {
	background: url('../img/ResidentRequiem.webp') no-repeat;
	background-size: 100%;
}

.slide__text {
	width: 450px;
	height: 150px;
	padding: 20px;
	background-color: var(--bg-main);
	border-radius: 10px;
}

.slide__name {
	margin: 0;
}

.slide__price {
	margin-bottom: 20px;
}

.slider__control {
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type='radio'] {
	height: auto;
	margin: 5px;
}

/*search*/

.search {
	padding: 20px;
	width: 85%;
	height: 40px;
	border: none;
	border-radius: 10px;
	background-color: var(--bg-main);
	color: var(--text-bright);
}

.search::placeholder {
	color: var(--text-main);
}

#search .btn {
	width: 10%;
}

/*advantages*/

.card--advantages {
	text-align: center;
	width: 24%;
	height: 210px;
}

.card__icon {
	width: 100px;
	height: 100px;
}

/*games*/

.games {
	flex-wrap: wrap;
	gap: 20px;
}

.card--game {
	padding: 20px 20px 30px;
	width: 32%;
    cursor: pointer;
}

.cont__img {
	height: 400px;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}

.card__img {
	height: auto;
	width: 100%;
}

.rating {
	padding: 20px 0;
}

.rating__img {
	width: 30px;
	height: auto;
}

/*partners*/

.card--partner{
    width: 32%;
    text-align: center;
}

.logo-parter{
    color: var(--text-main);
}

/*footer*/

.nav--footer{
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav__el--footer{
    margin: 0;
}
